/* front text  */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,600&display=swap");

/* set deflaut  */

:root {
  --header-height: 3rem;

  /* color mod  */
  --hue-color: 250;
  --fist-color: hsl(var(--hue-color), 69%, 61%);
  --fist-color-second: hsl(var(--hue-color), 69%, 61%);
  --fist-color-alt: hsl(var(--hue-color), 57%, 53%);
  --fist-color-lighter: hsl(var(--hue-color), 98%, 85%);
  --title-color: hsl(var(--hue-color), 8%, 15%);
  --text-color: hsl(var(--hue-color), 69%, 61%);
  --text-color-light: hsl(var(--hue-color), 8%, 65%);
  --input-color: hsl(var(--hue-color), 70%, 96%);
  --body-color: hsl(var(--hue-color), 60%, 97%);

  --container-color: #fff;

  /* font and typograpy  */
  --body-font: "Poppins", sans-serif;

  /* text font size  */
  --big-font-size: 2rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.125rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.831rem;
  --smaller-font-size: 0.75rem;

  /* font whight  */
  --font-medium: 500;
  --font-semi-bold: 600;

  /* margenes bottom  */
  /* .25rem = 4px, .5rem = 8pc, .75rem = 12px ...  */
  --mb-0-25: 0.25rem;
  --mb-0-5: 0.5rem;
  --mb-0-75: 0.75rem;
  --mb-1: 1rem;
  --mb-1-5: 1.5rem;
  --mb-2: 2rem;
  --mb-2-5: 2.5rem;
  --mb-3: 3rem;

  /* z index  */
  --z-tooltip: 10;
  --z-fixed: 100;
  --z-modal: 1000;
}

/* font size for large divices  */
@media screen and (min-width: 968px) {
  :root {
    --big-font-size: 3rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: 0.813rem;
  }
}

/* base  */
*,::before,::after{
  box-sizing: border-box;
}
/* scroll-behavior: smooth; lam muot khi chuyen trang  */
html{
  /* scroll-behavior: smooth; lam muot khi chuyen trang  */
  scroll-behavior: smooth;
}

body{
  /* top right bottom lfet  */
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--text-color);
  
}

/* set chieu cao va do rong cua chu  */
h1,h2,h3,h4 {
  color: var(--title-color);
  /* cỡ chữ bán đậm  */
  font-weight: var(--font-semi-bold);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* -----------------TÁI SỬA DỤNG CSS---------------------  */
.selection {
  padding: 2rem 0 4rem;
}

.selection_title{
  font-size: var(--h1-font-size);
}

.selection_subtitle {
  display: block;
  font-size: var(--small-font-size);
  margin-bottom: var(--mb-3);
}

.selection_title, .selection_subtitle {
  text-align: center;
}

/* ------------------ LAYOUT -----------------------------  */
.container{
  max-width: 768px;
  margin-left: var(--mb-1-5);
  margin-right: var(--mb-1-5);
}

.grid {
  display: grid;
  
  /* Khoảng trong giữa hàng và côt grid  */
  gap: 1.5rem;
}

.header{
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
  

}

.nav{
  max-width: 968px;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: steelblue; */

}

.nav_logo, .nav_toggle{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_logo:hover{
  color: var(--fist-color);
}

/* set nav cho man hinh nho  */
@media screen and (max-width: 768px) {
  .nav_menu{
    /* box-sizing: border-box; */
    position: fixed;
    bottom: -100%;
    left: 0;
    width: 100%;
    background-color: var(--body-color);
    padding: 2rem 1.5rem 4rem;
    box-shadow: 0 -1px 4px rgb(29, 29, 29);
    border-radius:  1.5rem 1.5rem 0 0;
    transition: .3s;
  }
}

.nav_list{
  /* set lưới 3 ô 1 hàng  */
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

.nav_link{
  display: flex;

  /* flex cac listItem theo cột  */
  flex-direction: column;
  align-items: center;
  font-size: var(--small-font-size);
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.nav_link:hover{
  color: var(--fist-color);
}

.nav_icon{
  font-size: 1.2rem;
}

.nav_close{
  position: absolute;
  right: 1.3rem;
  bottom: .5rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--fist-color);
}

.nav_close:hover{
  color: var(--fist-color-alt);
}

.nav_toggle{
  position: absolute;
  right: 3rem;
  bottom: .3rem;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--fist-color);
}

.nav_toggle:hover{
  color: var(--fist-color-alt);
}

/* show menu  */
.show-menu{
  bottom: 0;
}








li{
  /* background-color: var(--fist-color-second); */
}

